.flex-card-map {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.card-bike { grid-area: 1 / 1 / 6 / 4; }
.map { grid-area: 1 / 4 / 6 / 6; }

.map {
  position: sticky;
  top: 0;
}

@media(max-width: 992px) {
  .flex-card-map {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .flex-card-map {
    grid-template-columns: 1fr;
  }
}
