<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<% @bookings.each do |booking| %>
  <p>
    <p><%= booking.id %></p>
    <p><%= booking.user_id %></p>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
  </p>
 <% end %>
