<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.ternbicycles.com/sites/default/files/styles/large_rectangle_1x/public/2023-06/keyimage2-hsd-gen2.jpg.webp?itok=dzzPfTWK);">
  <div class="container">
    <h1>Boojie Bike</h1>
    <p>Louer un vélo, n'importe où, entre particulier !</p>
  </div>
</div>
<div class="advantage"><h3>Les avantages ?</h3></div>
  <div class="stack">
    <div class="box_left">Idée 1<p></p></div>
    <div class="box_center">Idée 2<p></p></div>
    <div class="box_right">Idée 3<p></p></div>
  </div>
