<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dmVsb3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Boojee Bike <strong>Le Vélo</strong> pour <strong>Tous</strong>!</h1>
    <p>Partez à la conquête de l'univers en pédalant</p>
  </div>
</div>

<%# <div class="container"> %>
  <div class="flex-card-map">

    <div class="card-bike col-9 cards-results" >
      <%= render "bikes/partials/bike_results" %>
    
    </div>
    <div class="map" id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-url-value="<%= search_map_results_path %>">
    </div>
  </div>
<%# </div> %>
