.footer {
  display: flex;
  background-color: #EAF7FF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #F24987;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
