.view-button {
  display: inline-block;
  background-color: #F24987;
  color: whitesmoke;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.view-button:hover {
  background-color: #0D6EFD;
}
